doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Stort of Doanne | Economic Website Design
  link(rel='stylesheet', type='text/css', href='../styles/common.css')
  link(rel='stylesheet', type='text/css', href='../styles/index.css')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
  link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.0/css/all.css', integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ', crossorigin='anonymous')
header.container.header1
  .row
    .col-sm-4
      .logo
        // Image and text
        a(href='xxx')
          img.d-inline-block.align-top.pt-4(src='../images/iphone/logo.png', alt='logo')
    .col-sm-8
      nav.navbar.navbar-expand-lg.navbar-light.float-right.mt-4
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
          ul.navbar-nav.contact-header
            li.nav-item
              h4
                a.nav-link(href='#') Home
            li.nav-item
              h4
                a.nav-link(href='./html/iPhone.html') Apple
            li.nav-item
              h4
                a.nav-link(href='./html/samsung.html') Samsung
            li.nav-item
              h4
                a.nav-link(href='#') Contact
            li.nav-item
              h4
                a.nav-link(href='#') Accout
section.section.container
  .row
    .col-sm-6
      .content
        h4 iPhone 12 Pro
        h1 It&rsquo;s a leap year.
        p
          | 5G. A14 Bionic. All&#x2011;new design. Ceramic Shield.
          | LiDAR Scanner. A Pro camera system optimized for
          | low light &mdash; and pushed even further on iPhone 12 Pro Max.
        .buttonGoShop
          a.btn.btn-danger(href='./html/iPhone.html')
            | Go To Shop 
            i.fas.fa-arrow-right.pl-2
    .col-sm-6
      img.home-image(src='../images/iphone/iphone-12-1.jpg', alt='picture1')
script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
